@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

/* HTML5 display definitions
---------------------------------------- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, #header nav, section, dialog {
	display: block;
}

/* Fonts
---------------------------------------- */
@font-face {
    font-family: 'Lato', sans-serif;
  }
@font-face{
    font-family: 'PT Mono', sans-serif;
  }
@font-face{
    font-family: 'Raleway', sans-serif;
  }

/* Base structure
---------------------------------------- */

html {
	height: 100%;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background:#fff;
	margin: 0 auto;
	min-height: 100%;
}

body, button, input, select, textarea {
	font: 1.2em/1.7em Din, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #666;
}


p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, hr {
	margin: 0 0 1.7em;
}

.text-center {
	text-align:center;
}

.nomargins {
	margin:0;
}

/* Structure */
.shaded {
	background:#f7f7f7;
	padding:40px 0;
}

.dark {
	background:#e5e5e5;
	padding-bottom:20px;
}

.container {
	position:relative;
	margin:0 auto;
	max-width:1920px;
}

	#header .container,
	#footer .container,
	.container.reduced {
		padding:0 6.04166%;
	}

	.container.reduced {
		width:83.5%;
	}

	.blog .container {
		max-width:1600px;
		margin:0;
	}

	.page-template-page-column-php .container {
		max-width:1400px;
		margin:0;
	}

	body.blog {
		background:#fff url(img/blog-texture.png) repeat-y 1600px 0;
	}

	body.page-template-page-column-php {
		background:#fff url(img/blog-texture.png) repeat-y 1400px 0;
	}

/* Other */
.alignleft {
	float:left;
}

.alignright {
	float:right;
}

/* Headings/small
---------------------------------------- */

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing:-.04em;
	text-transform:uppercase;
}

h1 {
	font-size: 5.2em; /* 62/12 */
	line-height: .75em; /* 46/62 */
	font-weight:300;
	margin: 0 0 .75em;
	color:#404041;
}

	h1 span {
		color:#b6b6b6;
	}

h2,
.page-intro h1,
#contact-page h1 {
	font-size: 2.3em; /* 28/12 */
	line-height: .93em; /* 26/28 */
	letter-spacing:.02em;
	font-weight:normal;
	margin: 0 0 .93em;
	color:#626262;
}

	#main h2 {
		margin:10px 0 5px;
	}

h3 {
	font-size: 1.8em; /* 22 /12 */
	line-height: 1.2em; /* 26/22 */
	font-weight:500;
	margin: 0 0 .7em; /* 15/22 */
}

h4 {
	font:bold 1em/1.9em Georgia, 'Times New Roman', Times, serif;
	margin: 0 0 .8em; /* 10/12 */
}

h5,
a.readmore {
	font:bold .8em/2em 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#404041;
	text-transform:uppercase;
}

small,
p small,
.small {
	font:italic .9em/1.4em Georgia, "Times New Roman", Times, serif;
}

/* Preformatted text and code
---------------------------------------- */

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre, code, kbd, samp {
	font: 1em/2em 'Courier New', Courier, monospace;
}


/* Links
---------------------------------------- */

a {
	text-decoration: none;
	color: #2d2d2d;
}

a:hover {
	color:#000;
	text-decoration:underline;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: none;
}

/* Images
---------------------------------------- */

img, object, video {
	max-width: 100%;
	height:auto;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	-webkit-transition: 0.5s ease opacity;
	-moz-transition: 0.5s ease opacity;
	-ms-transition: 0.5s ease opacity;
	-o-transition: 0.5s ease opacity;
}

*:hover>img {
	opacity:.75;
}

.grid-container *:hover>img,
.grid *:hover>img {
	opacity:1;
}

img.alignleft {
	margin-right:1.7em;
	display:block;
}

/* Others
---------------------------------------- */

figure {
	margin: 0;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background: #fff200;
}

ins {
	text-decoration: none;
	background: #fff200;
}

del {
	text-decoration: line-through;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-bottom: 1px solid #cecece;
	clear:both;
}

.clear {
	clear: both;
}

strong, b, dt {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

var, address {
	font-style: normal;
}

sub, sup {
	font-size: 0.625em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Helper classes
---------------------------------------- */

.group:before, .group:after, .widget_categories:before, .widget_categories:after {
	content: "";
	display: table;
}

.group:after, .widget_categories:after {
	clear: both;
}

.group, .widget_categories {
	*zoom: 1;
}

::selection {
	background: #fff200; /* Safari */
	}
::-moz-selection {
	background: #fff200; /* Firefox */
}

.serif_caps  {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
}



/* Primary styles
---------------------------------------- */

/* Splash Page */
#splash {
	padding:46px;
	text-align:center;
}

	#splash a {
		max-width:26.7em; /* 320/12 */
		display:block;
		margin:0 auto;
		height:auto;
		padding-bottom:2.3em; /* 28/12 */
    margin-left:auto;
	}

	#splash a:hover {
		text-decoration:none;
	}

	#splash a h1 {
		position:static;
		font-size:1.6em; /* 19/12 */
		line-height:10.2em; /* 55/19 */
		width:10.2em; /* 194/19 */
    height:10.2em; /* 194/19 */
    border-radius:5.1em;
		margin:0 auto auto; /* 15/19 */
    opacity:0.9;
	}
  .bluebg{
    background:#74AFAD;
  }
  .blue{
    color:#74AFAD;
  }
  .orange{
    color:rgb(255,190,77);
  }
  #splashwrapper{
    z-index:-2;
    background:rgb(255,190,77);
  }

	#splash a h1 span {
		color:rgb(255,190,77);;
	}

	#splash a .description {
		opacity:1;
		height:auto;
		display:block;
    z-index:5;
    position:relative;
	}

	#splash a .description p {
		font:normal 1.2em/1.2em Din, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color:#666;
		text-align:center;
		margin:0;
		text-transform:uppercase;
		letter-spacing:-0.01em;
	}

		.page-template-page-sitemap-php #splash a .description p {
			font-size:1em;
			line-height:1.7em;
			text-transform:none;
			color:#666;
			width:200px;
			margin:0 auto;
		}
  .wrap .headtitle {
    font-size:5em;
    line-height:1.7em;
    color:#666;
    display:block;
    text-transform:none;
    text-align:center;
    padding-top:4.5em;
    font-family:'Raleway', sans-serif;
  }

	#splash a .description p.part_2 {
		display:none;
    z-index:inherit;
	}




	/* class used to apply visibility to items on on the desktop breakpoint */
	.mq-desktop {
		display:none;
	}


/* Media queries
 *
 * 800px is the minimum size in which the three splash page
 * links will fit; therefore everything is based on when those
 * can expand from the mobile first width.
---------------------------------------- */

@media only screen and (max-width: 500px) {
	#contact-page {
		font-size:75%;
	}
}
@media only screen and (min-width: 800px) {

/* Base Structure */
#header .container,
#footer .container,
.container.reduced {
	padding:0;
}

.col-one, .col-two, .col-three, .col-four, .col-five, .col-six,
.col-seven, .col-eight, .col-nine, .col-ten, .col-eleven, .col-twelve {
	float:left;
	padding:0 .83333%; /* 0 10px @ 1200px */
}

.col-one 	{ width:6.6666%; 	} /* 80px @ 1200px */
.col-two 	{ width:15%; 		} /* 180px @ 1200px */
.col-three 	{ width:23.3333%; 	} /* 280px @ 1200px */
.col-four 	{ width:31.6666%; 	} /* 380px @ 1200px */
.col-five 	{ width:40%; 		} /* 480px @ 1200px */
.col-six 	{ width:48.3333%; 	} /* 580px @ 1200px */
.col-seven 	{ width:56.6666%; 	} /* 680px @ 1200px */
.col-eight 	{ width:65%; 		} /* 780px @ 1200px */
.col-nine 	{ width:73.3333%; 	} /* 880px @ 1200px */
.col-ten 	{ width:81.6666%; 	} /* 980px @ 1200px */
.col-eleven { width:90%; 		} /* 1080px @ 1200px */
.col-twelve { width:98.3333%; 	} /* 1180px @ 1200px */

.force_right {
	float:right;
}

.align-center {
	margin:0 auto;
	text-align:center;
	float:none;
}

.nofloat {
	float:none;
}


/* Splash */

html, body { height:100%; }

.home .wrap, .home #splash {
	padding:0;
	height:100%;
}

.home #splash:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.page-template-page-sitemap-php #splash {
	padding:10.8em 0 0 ; /* 130/12 */
}

	#splash a {
		position:relative;
		width:22em; /* 264/12 */
		height:40em; /* 480/12 */
		display:inline-block;
		vertical-align: middle;
    padding-left:2em;
	}

		.page-template-page-sitemap-php #splash a {
			width:31.6666%;
			max-width:100%;
			height:auto;
			vertical-align:top;
			padding:0 .83333%; /* 0 10px @ 1200px */
		}

		.page-template-page-sitemap-php #splash a.left h1,
		.page-template-page-sitemap-php #splash a.left p {
			float:right;
		}

	#splash a h1 {
		margin:0;
		position:absolute;
		top:41.5%;
		z-index:auto;
	}

		.page-template-page-sitemap-php #splash a h1 {
			position:static;
			margin:0 auto;
		}

	#splash a .description {
		height:40em; /* 480/12 */
		width:100%;
		clear:both;
		display:table-cell;
		vertical-align:middle;
		opacity:0;
		-webkit-transition: 0.4s ease opacity;
		-o-transition: 0.4s ease opacity;
		-moz-transition: 0.4s ease opacity;

	}

		#splash a .description p {
			font:3.5em/1.12em 'Din Cond', 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color:#2d2d2d;
			padding:.57em 0;
			text-align:left;
      z-index:2;
		}

	#splash a:hover .description {
		opacity:1;
	}

	#splash a h1 span {
		-webkit-transition: 0.4s ease opacity;
		-o-transition: 0.4s ease opacity;
		-moz-transition: 0.4s ease opacity;
	}

	#splash a:hover h1 span {
		opacity:0;
	}


	#splash a .description p.part_2 {
		display:block;
	}

	/* class used to apply visibility to items on on the desktop breakpoint */
	.mq-desktop {
		display:block;
	}

	/* class used to apply visibility to items on on the mobile breakpoint */
	.mq-mobile {
		display:none;
	}

/* Blog Footer */
#footer.blog_footer .contact {
	text-align:right;
}

}

/* Some things just need to get smaller */
@media only screen and (max-width: 480px) {
	.mq-tiny {
		font-size:.8em;
	}

	.people-list {
		float: none !important;
		text-align: center;
		width: 100% !important;
		margin: 0 0 2em 0 !important;
	}
}

@media only screen and (max-width: 800px) {
	.pagenav {
		width: 100%;
	}
	.grid-container {
		margin-left: 0;
		margin-right: 0;
	}

	#contact-page .announcements, #contact-page .careers, #contact-page .twitter-feed {
		padding-left: 7.5% !important;
	}

	#contact-page .start-conversation {
		padding: 0 7.5% !important;
	}

	#contact-page .contact-wrap {
		clear: left;
	}
}

@media only screen and (min-width: 1000px) {
	#footer {
		font-size:1em;
	}
}

/* Adjust the overall text size as the user's screen get's wider */
@media only screen and (min-width: 1200px) {
/*	html.site { font-size:75%; }
	.site #splash,
	.site #header,
	.site .pagenav { font-size:83.33333% }*/
	html { font-size:75%; }
	#splash,
	#header,
	.pagenav { font-size:83.33333% }
}

/* Print styles
---------------------------------------- */

@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}

/** masonry fixes **/
.wrap #main .masonry { margin-bottom: 0px; }